.hero{
  position: relative;
  background-color: #014E56;
  padding-bottom: 240px;

  &::before{
    content: "";
    position: absolute;
    top: 15px;
    left: calc(50% - 705px);
    display: inline-block;
    width: 200px;
    height: 200px;
    background-image: url(../../images/hero-left-bg.png);
    background-repeat: no-repeat;
    background-size: 100px 200px;
  }

  &::after{
    content: "";
    position: absolute;
    right: calc(50% - 565px);
    bottom: -100px;
    display: inline-block;
    width: 358px;
    height: 200px;
    background-image: url(../../images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: 358px 100px;
  }
}
.hero__inner {
  display: flex;
  align-items: center;
}
.inner__left {
  width: 100%;
  max-width: 635px;
  margin-right: 30px;
}
.inner__left-title {
  margin: 0;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  /* or 100% */
  color: #FFFFFF;
}
.inner__right {
  width: 100%;
  max-width: 445px;
}
.inner__right-span {
  display: inline-block;
  background: #79C8C7;
  height: 4px;
  width: 50px;
  margin-bottom: 79px;
}
.span-color {
  color: #F67E7E;
}
.inner__right-text {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

@media only screen and (max-width:768px){
  .hero{
    padding-bottom: 0;
  }
  .hero::before{
    display: none;
  }
  .hero__inner{
    flex-direction: column;
    text-align: center;
  }

  .inner__left{
    margin-right: 0;
  }
  .inner__left-title{
    font-size: 64px;
    line-height: 56px;
    text-align: center;
    margin-bottom: 24px;
  }
  .inner__right-span{
    display: none;
  }
  .inner__right{
    width: 457px;
  }
  .inner__right-text{
    margin-bottom: 256px;
    font-size: 15px;
    line-height: 28px;
  }

  .hero::after{
    top: 79%;
    right: calc(50% - 185px);
  }
}



















@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
  .hero::before{
    background-image: url(../../images/hero-left-bg@2x.png);
  }

  .hero::after{
    background-image: url(../../images/hero-bg@2x.png);
  }
} 